/*
* @Author: Administrator
* @Date:   2017-02-18 17:53:12
* @Last Modified by:   Administrator
* @Last Modified time: 2017-02-18 17:55:32
*/
h1 {
    width: 12px;
    margin: 8px auto ;
    
    background-color: #8acbc2
}